@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html>

<head>

    <meta charset="UTF-8">

    <title></title>

</head>
<style>
</style>

<body>
        <form action="/project/singin" method="post">
            <input id="userName" name="userName" type="text" placeholder="名字" required>
            <input id="password" name="password" type="password" placeholder="密碼" required>
            <input type="submit" value="登入">
        </form>
</body>
<script>
    //function singInShop(e) {
        //e.preventDefault();

        //let n = $("#userName").val();
        //let p = $("#password").val();

        //$.ajax({
  //          url: "project/singIn",
   //         data: { userName: n, password: p },
   //         type: 'POST',
   //         success: res => $(".show").text(res),
      //      error: err => alert("發生錯誤，請聯絡管理員。")
  //      })
  //  }

 //   $("#usersend").click(singInShop);


 //  $("#password").keypress(e => {
  //      if (e.keyCode == 13) {
  //          singInShop();
  //      }
  //  })

</script>

</html>